{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<h2>Student {{ object.username }}</h2>
    <br>
    {% if object.user == request.user %}
        <a href="{% url 'students:update' %}">Update Student</a>
        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
            <br>
            <br>
    {% endif %}
    <br>

    {% if object.user.first_name %}
    <ul class="list-group">

        <li class="list-group-item">
            <strong>First Name: </strong>{{ object.user.first_name }}
        </li>
        <li class="list-group-item">
            <strong>Last Name:</strong> {{ object.user.last_name }}
        </li>
        <li class="list-group-item">
            <p><strong>Skills:</strong>
            {% for skill in object.skills.all %}
                {{ skill.skill }}
            {% endfor %}
        <p>

        </li>

    </ul>
    {% endif %}

{% endblock content %}
