{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Students</h2>
<br>

  <div class="list-group">
    {% for student in student_list %}
          <a href="{% url 'students:home' student.user.username %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ student.user.get_full_name }}</h4>
            <p>
             {% for skill in student.skills.all %}
                {{ skill.skill }}
            {% endfor %}
            </p>
          </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
