{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
{{block.super}}
  <link href="{% static 'css/tagit.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
{{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/tagit.js' %}"></script>
  <script>
      $(function(){

        $("#id_skill").tagit({
            tagSource: function(search, showChoices) {
              var that = this;
              $.ajax({
                url: "{% url 'job:getSkills'%}",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(choices) {
                  showChoices(that._subtractArray(choices.skills, that.assignedTags()));
                }
              });
            }
            })
      });
  </script>

{% endblock %}

{% block content %}
<h2>Updating {{ request.user.username }}</h2>
  <form class="form-horizontal" method="post" action="{% url 'students:update' %}">
      {% csrf_token %}
      {{ user_form | crispy }}

      {{ form | crispy }}

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
{% endblock content %}
