{% extends "django_messages/base.html" %}
{% load i18n %}

{% block inner %}
    {{ block.super }}


<body>
    <center><h1>Inbox</h1></center> <br>


                {% if message_list %}
                    <table class="table table-bordered">
                    <thead class ="thead-inverse">
                    <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
                    </thead>

                    <tbody>

                    {% for message in message_list %}
                    <tr>
                    <td>{{ message.sender }}</td>
                    <td> <br>
                    {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %} &nbsp;
                            <a href="{{ message.get_absolute_url }}"><i>{{ message.subject }}</i></a>
                            {% if message.replied %}</em>{% endif %}
                                {% if message.new %}</strong>{% endif %}</td>
                                    <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                                    <td><a href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    {% else %}
                        <p>{% trans "No messages." %}</p>
                    {% endif %}

</body>
{% endblock %}


