{% load user_tags %}
{# Pass in the 'profile_image, name, user'#}
<div class="rp bqq agk">
                    <div class="rv" style="background-image: url({{ user.get_background_url }})">
</div>
                    <div class="rq awx">
                      <a href="{{ user.get_absolute_url }}">
                        <img class="bqr" src="{{ user.get_image_url }}">
                      </a>
                    <br>

                      <h1 class="rr">
                            <a class="bph" href="profile/index.html">{{name}}</a>
                      </h1>

                      <p class="agk">{{ user.short_description }}</p>

                        {%  if request.user == user %}
                        <a class="btn btn-primary" href="{% url update_url %}">Update Your Page</a>
                        <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">Change E-Mail</a>
                        <br><br><br>
                            {% else %}
                                    {% if user not in request.user.connections.all %}
                                        <a class="btn btn-outline-success" href="{% url 'users:follow' user.username %}">Connect</a>
                                    {% else %}
                                        <a class="btn btn-outline-danger" href="{% url 'users:unfollow' user.username %}">Disconnect</a>
                                    {% endif %}
                                                    <br><br><br>


                        {% endif %}
 {%  if request.user != user %}
    <h6>Mutual Connections</h6>
    <ul class="bpt">
        <div class="bv" data-example-id="">
             {% for user in request.user|connections:user %}
                      <li class="bpu">
                          <a href="{{ user.get_absolute_url }}"><img class="wg" src="{{ user.get_image_url }}"></a>
                        <small>{{ user.first_name }}</small>
                      </li>
                 {% empty %}
                 <p>No connections</p>
             {% endfor %}
        </div>
    </ul>

{% endif %}

                        </div>
                      </div>
