{% extends "base.html" %}




{% block content-wrapper %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% block sidebar %}

                  <div class="rp bqq agk">
                    <div class="rv" style="background-image: url({{request.user.background.url}});"></div>
                    <div class="rq awx">
                      <a href="profile/index.html">
                        <img
                          class="bqr"
                          src="{{ request.user.image.url }}">
                      </a>

                      <h6 class="rr">
                          {% if request.user.is_employer %}
                            <a class="bph" href="profile/index.html">{{request.user.employer.company_name}}</a>
                          {% elif request.user.is_student %}
                              <a class="bph" href="profile/index.html">{{request.user.get_full_name}}</a>

                          {% endif %}
                      </h6>

                      <p class="agk">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

                      <ul class="bqs">
                        <li class="bqt">
                          <a href="#userModal" class="bph" data-toggle="modal">
                            Following
                            <h6 class="afl">{{ request.user.connections.count }}</h6>
                          </a>
                        </li>

                        <li class="bqt">
                          <a href="#userModal" class="bph" data-toggle="modal">
                            Followers
                            <h6 class="afl">{{ request.user.get_followers.count }}</h6>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="rp bra brb agk">
                    <div class="rq">
                      <h6 class="agd">About</h6>
                      <ul class="dc ayn">
                        <li><span class="axr h bbu agc"></span>Went to <a href="#">Oh, Canada</a>
                        <li><span class="axr h boj agc"></span>Became friends with <a href="#">Obama</a>
                        <li><span class="axr h bgh agc"></span>Worked at <a href="#">Github</a>
                        <li><span class="axr h bgx agc"></span>Lives in <a href="#">San Francisco, CA</a>
                        <li><span class="axr h big agc"></span>From <a href="#">Seattle, WA</a>
                      </ul>
                    </div>
                  </div>

                {% endblock sidebar %}
            </div>

            <div class="col-sm-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{%  endblock content-wrapper %}
