
{% extends "base.html" %}

{% load static i18n %}


{% block title %}Employer{% endblock %}

{% block css %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
{{block.super}}
<link href="{% static 'css/job.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
   <h2>My Job Posts</h2>
{% if jobs %}
  {% for job in jobs %}

		<ul id="timeline">
      <a href="#">
        <li class="listing clearfix">
          <div class="image_wrapper">
          <a href="{{job.user.get_absolute_url}}">
            <img src="{{ job.user.get_image_url }}" style="height: 58px; width: auto;" alt="Twitter">
          </a>
            
          </div>
          <div class="info">
            <span class="job_title"><a href = "{% url 'job:job_detail' job.id %}"> {{job.post_name}}</a></span>
            <span class="job_info">{{user.employer.company_name}} <span>&bull;</span> {{job.location.city}}, {{job.location.state}} <span>&bull;</span> {{job.created_at|date:'D-F-o'}}</span>
          </div>
          <span class="job_type full_time">{{job.employment_type}}</span>
          <span class="apply_span" id="{{job.id}}">
            <a href="{% url 'job:viewApplications' job.id %}">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{job.total_applications}} Applications
            </a>
          </span>
        </li>
      </a>
    </ul>
  {% endfor %}
  {% else %}
  <p> No jobs have been posted.</p>
  {% endif %}
</div>

<nav>
 <ul class="pagination">
    {% if jobs.has_previous %}
      <li class = "page-item"><a class = "page-link" href="?page={{ jobs.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page-item" ><a class = "page-link">&laquo;</a></li>
    {% endif %}
    {% for i in jobs.paginator.page_range %}
      {% if jobs.number == i %}
        <li class="disabled page-item"><a class = "page-link"> {{ i }} <span class="sr-only page-item">(current)</span></a></li>
      {% else %}
        <li class = "page-item"><a class = "page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if jobs.has_next %}
      <li class = "page-item"><a class = "page-link" href="?page={{ jobs.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page-item"><a class = "page-link">&raquo;</a></li>
    {% endif %}
  </ul>
  </nav>
{% endblock content %}
