{% extends "base.html" %}
{% load static %}
{% block css %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

{{block.super}}
<link href="{% static 'css/job.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<h2>All Job Applicants</h2>


  {% if applicants %}
        {% for applicant in applicants %}
            		<ul id="timeline">
                          <a href="#">
                            <li class="listing clearfix">
                              <div class="image_wrapper">
                              <a href="{{applicant.user.get_absolute_url}}">
                                <img src="{{ applicant.user.get_image_url }}" style="height: 58px; width: auto;" alt="">
                              </a>
                              </div>
                              <div class="info">
                                <span class="job_title"><a href = "{{applicant.user.get_absolute_url}}"> {{applicant.user.get_name}}</a></span>
                                <span class="job_info"> Looking for {{applicant.position}}</span>
                              </div>
                              <span class="job_type full_time">{{applicant.match_percent|floatformat}}% Match</span>
                            </li>
                          </a>
                     </ul>
        {% endfor %}
    {% else %}
      <p> No one has applied for this job</p>

  {% endif %}

{% endblock content %}
