{% extends "base.html" %}
{% load static %}
{% block css %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

{{block.super}}
<link href="{% static 'css/job.css' %}" rel="stylesheet">
{% endblock %}


{% block javascript %}
{{ block.super }}
  <script>
    function viewUser(event, job_id){
      $.ajax({
        type: "POST",
        url: "{% url 'job:jobApply'%}",
        data: {"job_id": job_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response) {
          document.getElementById(job_id).innerHTML = '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Applied'
        },
        error: function(rs,e){
          console.log(rs.responseText)
        }
      });
    }
  </script>
{% endblock %}


{% block content %}

<h2>All Job Applicants</h2>


  {% if applicants %}
      <ul class="list-group">
        {% for applicant in applicants %}
            		<ul id="timeline">
                          <a href="#">
                            <li class="listing clearfix">
                              <div class="image_wrapper">
                              <a href="{{applicant.user.get_absolute_url}}">
                                <img src="{{ applicant.user.get_image_url }}" style="height: 58px; width: auto;" alt="">
                              </a>
                              </div>
                              <div class="info">
                              <!--Replace it with user profile URL and user name-->
                                <span class="job_title"><a href = "{applicant.user.get_absolute_url}"> {{applicant.user.name}}</a></span>
                              </div>
                              <span class="job_type full_time">{{applicant.match_percent|floatformat}}% Match</span>
                            </li>
                          </a>
                     </ul>
        {% endfor %}
    {% else %}
      <p> No one has applied for this job</p>

  {% endif %}

{% endblock content %}
