{% extends "base.html" %}
{% load static %}
{% block css %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

{{block.super}}
<link href="{% static 'css/job.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

<h2>All Job Applicants</h2>


  {% if applications %}
        {% for application in applications %}
            		<ul id="timeline">
                          <a href="#">
                            <li class="listing clearfix">
                              <div class="image_wrapper">
                              <a href="{{application.student.user.get_absolute_url}}">
                                <img src="{{ application.student.user.get_image_url }}" style="height: 58px; width: auto;" alt="">
                              </a>
                              </div>
                              <div class="info">
                                <span class="job_title"><a href = "{{application.student.user.get_absolute_url}}"> {{application.student.user.get_name}}</a></span>
                                <span class="job_info"> Looking for {{application.student.position}}</span>
                              </div>
                              <span class="job_type freelance">{{application.match_percent|floatformat:"0"}}% Match
                              </span>
                              {% if application.attachment %}
                                <span class="apply_span">
                                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
                                <a href="{{application.attachment.url}}">  Download Resume</a>
                                </span>
                              {% else %}
                                <span class="apply_span">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> No Attachments
                                </span> 
                              {% endif %}
                              <span class="apply_span">
                              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                              <a href="{% url 'messages_compose_to' application.student.user.username %}">Message Applicant</a>
                              </span>
                            </li>
                          </a>
                     </ul>
        {% endfor %}
    {% else %}
      <p> No one has applied for this job</p>

  {% endif %}

{% endblock content %}
