{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<form method="get" action="{% url 'search:search' %}" class="navbar-form pull-right">
  <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
  <input type="submit" class="btn" value="Search" >

    <div>
  <label>Location</label>
<label class="checkbox-inline"><input type="checkbox" value="CA" name="location">CA </label>
<label class="checkbox-inline"><input type="checkbox" value="WA" name="location">WA </label>
<label class="checkbox-inline"><input type="checkbox" value="Others" name="location">Others</label>
    </div>

       <div>
       <label>employment_type</label>
<label class="checkbox-inline"><input type="checkbox" value="FULL_TIME" name="employment_type">FULL_TIME </label>
<label class="checkbox-inline"><input type="checkbox" value="INTERN" name="employment_type">INTERN </label>

       </div>
   </form>
<div class="container">

  <h2>Employers</h2>
<br>

  <div class="list-group">
    {% for employer in employer_list %}
          <a href="{% url 'employers:home' employer.user.username %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ employer.company_name }}</h4>
            <p>
             {{ employer.user.job_set.count }} Job Openings
            </p>
          </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}