{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}

        <br>
    <br>
    <br>


<div class="container">

  <h2>Employers</h2>
<br>

  <div class="list-group">
    {% for employer in employer_list %}
          <a href="{% url 'employers:home' employer.user.username %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ employer.company_name }}</h4>
            <p>
             {{ employer.user.job_set.count }} Job Openings
            </p>
          </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}