{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}
	<div class="container">
		<h3 class='text-primary'>{{post.description}}</h3>
		<form class="form-horizontal" method="post" action="{% url 'posts:get_post' post.id %}">
    	{% csrf_token %}
		{{comment_form | crispy}}
		<div class="control-group">
	      	<div class="controls">
	        <button type="submit" class="btn">Comment</button>
	        </div>
        </div>
        </form>
     	<br>
        <ul class='list-group'>
        	{% for comment in post.postcomments_set.all %}
        		<li class='list-group-item'>
        			<p><a href="{% url 'students:home' comment.commenting_user %}">{{comment.commenting_user}}: </a>{{comment.comment}}</p>
        		</li>
        	{% endfor %}
        </ul>
		
		<a href="{% url 'posts:get_all_posts'%}">Return to all posts</a>
	</div>
{% endblock content %}