{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block javascript %}
{{block.super}}
<script>
    $("#id_description").change(function () {
      console.log( $(this).val() );
    });
  </script>

{% endblock %}


{% block content %}
<form class="form-horizontal" method="post" action="{% url 'posts:post_status' %}">
	{% csrf_token %}
	{{ form|crispy }}
	<div class="control-group">
	  <div class="controls">
	    <button type="submit" class="btn">Submit</button>
	  </div>
	</div>
</form>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
