{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	<div class="container">
		<h5>{{post_detail.description}}</h5>
		<p>By <a href="{% url 'students:home' post_detail.user.username %}">{{post_detail.user}}</a></p>
		<a href="{% url 'posts:get_all_posts'%}">Return to all posts</a>
	</div>
{% endblock content %}
{% block javascript %}
{{block.super}}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}