{% extends "base.html" %}
{% load static i18n %}
{% block title %}Members{% endblock %}

{% block content %}
<div class="container">
  <h2>Users</h2>
<br>

  <div class="list-group">
    {% for user in user_list %}
        {% if user.is_student and user.get_full_name %}
          <a href="{% url 'students:home' user.username %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ user.get_full_name }}</h4>
            <p>
             {% for skill in user.student.skills.all %}
                {{ skill.skill }}
            {% endfor %}
            </p>
          </a>
        {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
