{% extends "django_messages/base.html" %}
{% load i18n %}

{% block inner %}

    {{ block.super }}
<center><h1>{% trans "View Message" %}</h1></center> <br>
    <table class="table table-bordered">
    <thead class ="thead-inverse">
    <tr>
    <th>{% trans "Subject" %}</th>
    <th>{% trans "Sender" %}</th>

    <th>{% trans "Date" %} </th>

    <th>{% trans "Recipient" %}</th>
        <th>{% trans "Message details" %}</th>

    </tr>
    </thead>
    <tbody>
    <tr>

        <td>{{ message.subject }}</td>
        <td>{{ message.sender }}</td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</td>
        <td>{{ message.recipient }}</td>
        <td>{{ message.body|linebreaksbr }}</td>
    </tr>

    </tbody>
    </table>





{% ifequal message.recipient.pk user.pk %}
    <center>
<a href="{% url 'messages_reply' message.id %}"><button type="button">Reply</button> </a>
{% endifequal %}
<a href="{% url 'messages_delete' message.id %}"><button type="button">Delete</button></a>
</center>
    <br>
{% comment %}
{% if reply_form %}

<h1>{% trans "Compose reply"%}  </h1>

<form action="{% url 'messages_reply' message.id %}" method="post" >
{% csrf_token %}

<input type="submit" value="{% trans "Send" %} readonly &raquo;" />
</form>

{% endif %}
{% endcomment %}
{% endblock %}


