{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/project.css' %}" rel="stylesheet">

{% block content-wrapper %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% block sidebar %}

                  <div class="rp bqq agk">
                    <div class="rv" style="background-image: url({{request.user.get_background_url}});"></div>
                    <div class="rq awx">
                      <a href="{{ request.user.get_absolute_url }}">
                        <img
                          class="bqr"
                          src="{{ request.user.get_image_url }}">
                      </a>

                      <h6 class="rr">
                          {% if request.user.is_employer %}
                            <a class="bph" href="profile/index.html">{{request.user.employer.company_name}}</a>
                          {% elif request.user.is_student %}
                              <a class="bph" href="profile/index.html">{{request.user.get_name}}</a>

                          {% endif %}
                      </h6>

                      <p class="agk">{{ request.user.short_description }}</p>

                      <ul class="bqs">
                        <li class="bqt">
                          <a href="#userModal" class="bph" data-toggle="modal">
                            Connections
                            <h6 class="afl">{{ request.user.connections.count }}</h6>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="rp bra brb agk">
                    <div class="rq">
                      <h5 class="agd">About Me</h6>

                      {% if request.user.is_student %}
                        <ul class="dc ayn">
                            <h6><font color="#0275d8">Recent Post</font></h6>
                          {% with post=request.user.post_set.first %}
                              <li>&#9679; &nbsp; <font color="red">{{post.description}}</font></li>
                          {% endwith %}
                            <h6><font color="#0275d8">Recent Connection</font></h6>
                          {% with connection=request.user.connections.first %}
                              <li>&#9679; &nbsp;<font color="red"><i href="#"><a href='{{connection.get_absolute_url}}'>{{connection.get_name}}</a></i></font></li>
                          {% endwith %}
                            <h6><font color="#0275d8">Recent Education</font></h6>
                          {% with education=request.user.student.education_set.first %}
                              <li>&#9679; &nbsp;<font color="red"><i>{{education.level}}</i> at <i>{{education.institution_name}}</i></font></li>
                          {% endwith %}
                            <h6><font color="#0275d8">Recent Work</font></h6>
                          {% with work=request.user.student.workexperience_set.first %}
                              <li>&#9679; &nbsp;<font color="red"><i href="#">{{work.title}}</i> as {{work.position}}</font></li>
                          {% endwith %}

                          
                          
                        </ul>

                      {% else %}

                      {% endif %}

                    </div>
                  </div>

                {% endblock sidebar %}
            </div>

            <div class="col-sm-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{%  endblock content-wrapper %}
