{% extends "base.html" %}
{% load crispy_forms_tags static %}


{% block content %}
{% include 'users/snippets/profile_info.html' with user=object.user name=object.user.get_full_name update_url='students:update' %}

    {% if object.user.first_name %}
    <ul class="list-group">
        <li class="list-group-item">
            <h2>User Information</h2>
        </li>

        <li class="list-group-item">
            <strong>First Name: </strong>{{ object.user.first_name }}
        </li>
        <li class="list-group-item">
            <strong>Last Name:</strong> {{ object.user.last_name }}
        </li>
        <li class="list-group-item">

            <strong>Looking For:</strong> {{ object.position|default_if_none:'None' }}
        </li>
        <li class="list-group-item">
            <p><strong>Skills:</strong>
            {% for skill in object.skills.all %}
                {{ skill.skill }}
            {% endfor %}
        <p>

        </li>

    </ul>
    {% endif %}
    <br>

{% endblock content %}
