{% extends "base.html" %}
{% load static %}

{% block title %}All Students{% endblock %}
{% block css %}
{{block.super}}
<link href="{% static 'css/job.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% if student_list %}
    {% for student in student_list %}
                    <ul id="timeline">
                          <a href="#">
                            <li class="listing clearfix">
                              <div class="image_wrapper">
                              <a href="{{student.user.get_absolute_url}}">
                                <img src="{{ student.user.get_image_url }}" style="height: 58px; width: auto;" alt="">
                              </a>
                              </div>
                              <div class="info">
                                <span class="job_title"><a href = "{{student.user.get_absolute_url}}"> {{student.user.get_name}}</a></span>
                                <span class="job_info"> Looking for {{student.position}}</span>
                              </div>
                              <span class="job_type follow_user">
                                    {% if student.user not in request.user.connections.all %}
                                        <a class="btn btn-outline-success" href="{% url 'users:follow' student.user.username %}">Follow</a>
                                    {% else %}
                                        <a class="btn btn-outline-danger" href="{% url 'users:unfollow' student.user.username %}">Unfollow</a>
                                    {% endif %}
                              </span>
                            </li>
                          </a>
                    </ul>
    {% endfor %}
{% else %}
      <p> No student has yet registered in the portal</p>
{% endif %}

{% endblock content %}
