{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
      <link href="{% static 'css/tagit.css' %}" rel="stylesheet">

{% endblock %}


{% block javascript %}
{{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/tagit.js' %}"></script>
  <script>
      $(function(){
        $("#id_skill").tagit({
            tagSource: function(search, showChoices) {
              var that = this;
              $.ajax({
                url: "{% url 'job:getSkills'%}",
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(choices) {
                  showChoices(that._subtractArray(choices.skills, that.assignedTags()));
                }
              });
            }
            })
      });
  </script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script>
    $('input.date').datepicker({
    });
    </script>
<script>
  {% for skill in skills %}
document.getElementById('id_skill').value+='{{skill.skill}}, ' ; 
  {% endfor %}
</script>
{% endblock %}



{% block content %}
<h2>Updating {{ request.user.get_full_name }}</h2>
    <br><br>
    <h3>Your Information</h3>


<script>
    <h3>My Services</h3>
  {{ work.management_form }}

    var form_array = [0, 1, 2, 3, 4]
    {% for form in work.forms %}
        var html = `{{ form | crispy }}`;
        form_array.append(html);
    {% endfor %}
</div>


    var index = 0
    $('#add_more').click(function(){
    $('#form_set').addhtml(form_array[index])
        index += 1
  })
</script>
<a type="button" value="add" id="add_more"> add </a>



  <form class="form-horizontal" method="post" action="{% url 'students:update' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_form | crispy }}

      {{ form | crispy }}



    <br><br><br>

    <h3>Work Experience</h3>

    {{ work.management_form }}
    {% for form in work.forms %}
        <table>

        {{ form | crispy }}

        {% if form.pk %} {# empty forms do not have a pk #}
             <tr><th>Delete?</th><td>{{field.DELETE}}</td></tr>
        {% endif %}
        </table>

    {% endfor %}


    <br><br><br>

    <h3>Education</h3>


    {{ education.management_form }}
    {% for form in education.forms %}
        <table>

        {{ form | crispy }}

        </table>

    {% endfor %}

      <br><br><br>

    <h3>Projects</h3>


    {{ project.management_form }}
    {% for form in project.forms %}
        <table>

        {{ form | crispy }}

        </table>

    {% endfor %}



        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Update</button>
          </div>
        </div>


  </form>

{% endblock content %}

