
{% extends "base.html" %}

{% load static i18n %}


{% block title %}Employer{% endblock %}

{% block content %}
<div class="container">
   <h2>My Job Posts</h2>
   <form method="get" action="{% url 'job:jobSearch' %}" class="navbar-form pull-right">
  <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
  <input type="submit" class="btn" href = "{% url 'job:jobSearch' %}"value="Search" >
  </form>


{% if jobs %}
  <ul class="list-group">
    {% for job in jobs %}
        <li class="list-group-item">
            <a href = "{% url 'job:job_detail' job.id %}"> {{job.post_name}}</a>
          <p>{{job.description}}</p>
          <p> {{job.employment_type}} </p>
          <p>{{job.created_at}} </p>
          <p>{{user}}</p>
          <p>{{job.location}}</p>
        </li>
    {% endfor %}
  </ul>
  {% else %}
  <p> No jobs have been posted. </p>
  {% endif %}

</div>
<body>
		<ul id="timeline">
      <a href="#">
        <li class="listing clearfix">
          <div class="image_wrapper">
            <img src="https://lh3.ggpht.com/lSLM0xhCA1RZOwaQcjhlwmsvaIQYaP3c5qbDKCgLALhydrgExnaSKZdGa8S3YtRuVA=w300" alt="Twitter">
          </div>
          <div class="info">
            <span class="job_title">UX Designer</span>
            <span class="job_info">Twitter <span>&bull;</span> San Francisco <span>&bull;</span> March 1st</span>
          </div>
          <span class="job_type full_time">Full-Time</span>
        </li>
      </a>
      <li class="date">Jan 27th</li>
    </ul>
	<div class="load_more">
		<button class="button"> Load More </button>
	</div>
</body>
{% endblock content %}
