{% extends "base.html" %}
{% block content %}
  <div class = "postDetail">
    <h2>
    {{job_show_detail.post_name}}
    </h2>
      <p>Posted By <a href="{% url 'employers:home' job_show_detail.user.username %}">{{ job_show_detail.user.employer.company_name }}</a></p>
    <br>
    <p>
      Employment Type:
    {{job_show_detail.employment_type}}
    </p>
    <p>
      Industry:
    {{job_show_detail.industry}}
    </p>
    <p>
      Location:
    {{job_show_detail.location}}
    </p>
    <p>
      Experience:
    {{job_show_detail.experience}}
    </p>
    <p>
      Description:
    {{job_show_detail.description}}
    </p>

    <p>
      Skills:
      {% for skill in job_show_detail.skills.all %}
        {{skill.skill}}
        {% empty %}
        No skills required.
      {% endfor %}
    </p>

      <a href="{% if request.user.is_employer %}{% url 'job:employerPost' %}{% else %}{% url 'job:jobList' %}{% endif %}">
          Return to Jobs</a>

    <a class="btn btn-primary" href = "{% url 'job:jobDelete' job_show_detail.pk %}" role="button">Delete</a>

     <a class="btn btn-primary" method="post" href = "{% url 'job:jobEdit' job_show_detail.pk %}" role="button">Edit</a>
    <a class="btn btn-primary" method="post" href = "{% url 'job:jobApply' job_show_detail.pk %}"role="button">Apply</a>

  </div>
{% endblock content %}
