{% extends "base.html" %}
{% block content %}
  <div class = "postDetail">
    <h2>
    {{job_show_detail.post_name}}
    </h2>
    <p>
      employment type:
    {{job_show_detail.employment_type}}
    </p>
    <p>
      industry:
    {{job_show_detail.industry}}
    </p>
    <p>
      location:
    {{job_show_detail.location}}
    </p>
    <p>
      experience:
    {{job_show_detail.experience}}
    </p>
    <p>
      description:
    {{job_show_detail.description}}
    </p>
      <a href="{% if request.user.is_employer %}{% url 'job:employerPost' %}{% else %}{% url 'job:jobList' %}{% endif %}">
          Return to Jobs</a>
  </div>
{% endblock content %}
