{% extends "base.html" %}
{% load crispy_forms_tags static %}



{% block content %}
<h2>Updating {{ request.user.employer.company_name }}</h2>
    <br>
          <img src="{{ user_form.instance.image.url }}" class="img-thumbnail" style="max-height: 300px;">
<br><br>
  <form class="form-horizontal" method="post" action="{% url 'employers:update' %}" enctype="multipart/form-data">
      {% csrf_token %}

    {{ form | crispy }}
      {{ user_form | crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
{% endblock content %}
