{% extends "base.html" %}
{% load crispy_forms_tags static %}


{% block content %}

{% include 'users/snippets/profile_info.html' with profile_image=object.user.get_image_url user=object.user name=object.company_name update_url='employers:update' %}

    {% if object.company_name %}
    <ul class="list-group">
             <li class="list-group-item"> <h2>Company Info</h2></li>

        <li class="list-group-item">
            <strong>Name:</strong> {{ object.company_name }}
        </li>

        <li class="list-group-item">
            <strong>Website</strong>: {{ object.website }}
        </li>

        <li class="list-group-item">
            <strong>Size</strong>: {{ object.size }}
        </li>
        <li class="list-group-item">
            <strong>Description</strong>: {{ object.description }}
        </li>
    </ul>
    {% endif %}

    <br>
    <ul class="list-group">
    {% if jobs %}

         <li class="list-group-item"> <h2>Current Job Openings</h2></li>

        {% for job in jobs %}
            <li class="list-group-item">
                <a href = "{% url 'job:job_detail' job.id %}"> {{job.post_name}}</a>
              <p>{{job.description}}</p>
            </li>
        {% endfor %}
  {% else %}
        <li class="list-group-item"> <h2> No jobs have been posted yet. </h2></li>
  {% endif %}
      </ul>

</div>
<br>
{% endblock content %}
