{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <!--<link href="css/landing-page.css" rel="stylesheet">-->

    <!-- Custom fonts for this template -->

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

   <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> -->

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body style="background-image: url('{% static 'images/header-bg.jpg' %}')" no-repeat center center  >

    <!-- Header -->
    <header class="intro-header">
        <div class="container">
            <div class="intro-message">

                <h1><font color="#CD6155">Tinder for Jobs</font></h1>
                <h3><font color="white">Experience Job search to a whole new level</font></h3>
                <hr class="intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li class="list-inline-item">
                        <a href="{% url 'students:account_signup' %}" class="btn btn-secondary btn-lg"> <span class="network-name">User-Sign Up</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'employers:account_signup' %}" class="btn btn-secondary btn-lg"> <span class="network-name">Employer-Sign Up</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'account_login' %}" class="btn btn-secondary btn-lg"> <span class="network-name">Sign-In</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>


</body>

</html>
